/* @import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap'); */

.main-content{
  margin-top:80px;
}
:root{
  --primary-color:  #c98d83;
  --secondary : #783b31;
  --bg: #f2f1ec;
  --black: #000;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
  font-family: 'Vidaloka', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition: .2s linear;
}

html{
  font-size: 80%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--primary-color);
  border-radius: 5rem;
}

section{
  padding: 2rem 7%;
}

.heading{
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  font-size: 4rem;
}

.heading span{
  color: var(--secondary);
  text-transform: uppercase;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  background: var(--primary-color);
  cursor: pointer;
}

.btn:hover{
  background: var(--secondary);
}

/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background: var(--bg);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;

}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i{
  color: var(--secondary);
  padding-right: .5rem;
}

.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover{
  color: var(--primary-color);
}

.header .icons div{
  font-size: 2.5rem;
  margin-left: 1.7rem;
  color: var(--black);
  cursor: pointer;
}

.header .icons div:hover{
  color: var(--primary-color);
}

#menu-btn{
  display: none;

}






/* product */

.product{
  background: var(--bg);
}

.product .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
  gap: 2rem;
}

.product .box-container .box{
  background: var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.product .box-container .box .image{
  height: 35rem;
  width: 100%;
  padding: 1.1rem;
}

.product .box-container .box .image img{
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.product .box-container .box .content{
  padding: 2rem;
  padding-top: 0;
}

.product .box-container .box .content h3{
  color: var(--black);
  font-size: 2.5rem;
}

.product .box-container .box .content .stars{
  padding: 1rem 0;
}

.product .box-container .box .content .stars i{
  font-size: 1.7rem;
  color: var(--secondary);
}

.product .box-container .box .content .price{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--secondary);
  margin-right: 1rem;
}

/* product end */

/* menu */

.menu .menu-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.menu .menu-container .box{
  height: 40rem;
  position: relative;
  overflow: hidden;
}

.menu .menu-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu .menu-container .box:hover img{
  transform: scale(1.1);
}

.menu .menu-container .box .icons{
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0; left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.menu .menu-container .box .icons i{
  font-size: 6rem;
  color: var(--white);
}

.menu .menu-container .box:hover .icons{
  display: flex;
}


/* menu end*/


/* review */

.review{
  background: var(--bg);
}

.review .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box{
  border: .1rem solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  text-align: center;
  padding: 3rem 2rem;
  background: var(--white);
}

.review .box-container .box .user{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3{
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--primary-color);
}

.review .box-container .box .stars i{
  font-size: 1.5rem;
  color: var(--secondary);
}

.review .box-container .box p{
  font-size: 1.5rem;
  line-height: 1.8;
  color: #444;
  padding-top: 1rem;
}

/* review end */



/* footer */

.footer{
  background: var(--bg);
  text-align: center;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3{
  text-transform: capitalize;
  font-size: 2.2rem;
  color: var(--secondary);
  padding: 1rem 0;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  line-height: 2;
  color: #444;
  padding: .5rem 0;
}

.footer .box-container .box .share{
  margin-top: 1rem;
}

.footer .box-container .box .share a{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 10%;
  font-size: 1.7rem;
  background: var(--primary-color);
  color: var(--white);
  margin-right: .3rem;
}

.footer .box-container .box .share a:hover{
  background: var(--secondary);
}

.footer .box-container .box .link{
  font-size: 1.7rem;
  line-height: 2;
  color: var(--primary-color);
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box .link:hover{
  color: var(--secondary);
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--primary-color);
  border-top: .1rem solid var(--secondary);
}

.footer .credit span{
  color: var(--secondary);
}





/* footer */

/* home */
.content{
  display:grid;
  grid-template-columns:50% auto;
  gap:30px;
  margin-top: 120px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.content .content-left{
  display: block;
  width: 100%;
}

.content .content-left .info{
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.content .content-left .info h2{
  font-size: 60px;
  font-family: san-serif;
  margin-bottom: 30px;
}

.content .content-left .info p{
  font-size: 23px;
  line-height: 2pc;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.content .content-left button{
  padding: 10px 23px;
  background-color: #ff511c;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.content .content-right{
  display: block;
  width: 100%;
}
.content .content-right img{
  width:400px;
  height:auto;
  position: relative;
  animation: rotate 10s linear infinite;


@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
      }
    
  }
}






















/* media queries */

@media (max-width: 991px){

  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem;
  }

  section{
    padding: 2rem;
  }

}

